

.contact-section-1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
    padding: 0px 90px;
    background: linear-gradient(to right, #040404, #242424, #656565);
    box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
}


.contact-section-1 h2 {
    font-size: 55px;
}

.contact-section-1 p {
    font-size: 20px;
}






/***********************************************************contact-section-2*****************************************************************/



.contact-section-2{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 100%;
    color: white;
    padding: 80px;
}


.coct-sec4-left{
background: linear-gradient(to right, #040404, #242424, #656565);
box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px;
  border-radius: 10px;
}



.coct-sec4-left h2{
    font-size: 30px;
}



.coct-sec4-left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 0px 30px;

}



.coct-sec4-left form div{
    display: flex;
    column-gap: 20px;
}



.coct-sec4-left form div input{
    width: 90%;
    padding: 4px 8px;
    height: 43px;
}


.coct-sec4-left form div label{
    width: 90px;
}



.coct-sec4-left form button{
    width: max-content;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background: #ff004f;
    font-size: 15px;
    transition: all 0.4s;

}


.coct-sec4-left form button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}







.coct-sec1-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap:20px;
    /* justify-content: center; */
    color: black;
    padding: 20px;
}


.coct-sec1-right div{
    display: flex;
    flex-direction: column;
row-gap: 10px;
}




.coct-sec4-right-contact p{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}


.coct-sec4-right-contact h1{
    font-size: 45px;
} 





.coct-icons div{
   display: flex;
   flex-direction: row;
   column-gap: 15px;
   font-size: 20px;
}


.coct-icons div .fb{
    background-color: blue;
}



.coct-icons div .twitter{
    background-color: rgb(29, 144, 138);
}


.coct-icons div .youtube{
    background-color: red;
}



.coct-icons div p{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    background-color: black;
}


.coct-icons div p:hover{
    background-color: black;
    transform: scale(1.2);
}


.coct-icons div p i{
    color: white;
}


.coct-sec1-right-main div p i{
    color: rgb(5, 60, 155);
    margin-right: 5px;
}






/**********************************************************************contact-map-section*******************************************************/



.contact-map-section{
    width: 100%;
    height: 400px;
    padding: 30px 50px;
}







/**********************************************************media********************************************************************************/


@media only screen and (max-width:1250px){
    .contact-section-2{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
    }


    .coct-sec1-right{
       width: 100%;
    }


    .coct-sec4-left{
        width: 100%;
    }


    .coct-sec4-right-contact p{
        display: flex;
        flex-direction: row;
        font-size: 20px;
        column-gap: 5px;
    }
}



@media only screen and (max-width:700px){
    .contact-section-1{
        height: 200px;
    }

    .contact-section-1 h2{
        font-size: 30px;
    }

    .contact-section-1 p{
        font-size: 16px;
    }


    .contact-section-2{
        padding: 20px;
    }

    .coct-sec4-left{
        padding: 15px;
    }

    .coct-sec4-left form{
        padding: 6px;
    }

    .coct-sec4-left h2{
        font-size: 22px;
    }


    .coct-sec4-left form div input{
        height: 35px;
    }


    .coct-sec4-left form div label{
        width: 100px;
        font-size: 16px;
    }


    .coct-sec4-right-contact h1{
        font-size: 27px;
    }

    .coct-sec4-right-contact p{
        font-size: 16px;
    }

    .coct-icons h2{
        font-size: 20px;
    }

    .contact-map-section{
        padding: 30px 20px;
    }
}



@media only screen and (max-width:450px){
    .contact-section-1{
        padding-left: 30px;
    }

    .contact-section-1 h2{
        font-size: 25px;
    }

    .coct-sec4-left form div{
        display: flex;
        flex-direction: column;
        row-gap: 2px;
    }

    .coct-sec4-left form div input{
        width: 100%;
        height: 30px;
    }

    .coct-sec4-left h2{
        font-size: 18px;
    }

  
}
