.doctor-section-1 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
    padding: 0px 90px;
    background: linear-gradient(to right, #040404, #242424, #656565);
    box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
}



.doctor-section-1 h2 {
    font-size: 55px;
}

.doctor-section-1 p {
    font-size: 20px;
}






/*******************************************************************doctor-section-2************************************************************/



.doctor-section-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 50px 0px;
}



.doct-sec2-heding {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.doct-sec2-heding div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    color: blue;
    font-size: 20px;
    align-items: center;
}


.doct-sec2-heding div li {
    width: 40px;
    height: 2px;
    background-color: blue;
}


.doct-sec2-heding h3 {
    font-size: 40px;
    font-weight: 600;
}

.doct-sec-2-doctors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30pxpx;
    justify-content: center;
    column-gap: 20px;
    margin-top: 100px;

}


.doct-sec-2-doctors div {
    display: flex;
    height: 600px;
    flex-direction: column;
    text-align: center;
    width: 600px;
    align-items: center;


}


.doct-sec-2-doctors div img {
    width: 80%;
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}



.doct-sec-2-doctors div div {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: black;
    padding: 20px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    background: linear-gradient(to right, #040404, #242424, #656565);
}


.doct-sec-2-doctors div div h4 {
    font-size: 22px;
    font-weight: 600;
}



.doct-sec-2-doctors div div p {
    font-size: 16px;
}


.doct-sec-2-doctors div div button {
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: white;
    transition: all 0.4s;
}


.doct-sec-2-doctors div div button:hover {
    background: linear-gradient(to left, #040404, #242424, #656565);
    transform: scale(1.1);
}










/*

.doct-sec2-img div p{
    font-size: 16px;
    font-weight: bold;
}


.doctor-sec2-doct-name{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.doctor-sec2-doct-name h1{
    font-size: 50px;
    font-weight: 600;
}

.doctor-sec2-doct-name h2{
    font-size: 27px;
    color: rgba(0, 0, 0, 0.563);
}


.doct-sect2-about-doct{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.664);
}
 */
*/ .doctor-section-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    row-gap: 30px;
}




.doct-sec3-img {
    width: 100%;
    padding: 50px;
    padding-bottom: 0px;
    row-gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doct-sec3-img img {
    width: 500px;
    height: 550px;
    /* border-radius: 12px; */
}




.doct-sec3-img div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: white;
}


.doct-sec3-img div h4 {
    font-size: 25px;
}


.doct-sec3-img div p {
    font-size: 16px;
    font-weight: bold;
}








/**************************************************************media*********************************************************************/



@media only screen and (max-width:1221px){
    .doct-sec-2-doctors div {
        display: flex;
        height: 550px;
        flex-direction: column;
        text-align: center;
        width: 500px;
        align-items: center;
        margin-bottom: 40px;
    
    
    }



    .doct-sec-2-doctors div img {
        width: 80%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    

    
}




@media only screen and (max-width:1020px){
    .doct-sec-2-doctors div{
        width: 600px;
        height:650px;
        margin-bottom: 50px;
    }


    .doct-sec-2-doctors div img {
        width: 80%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .doct-sec2-heding{
        width: 100%;
        padding: 30px;
     }


}




@media only screen and (max-width:700px){


    .doctor-section-1 h2{
        font-size: 35px;
    }

    .doctor-section-1 p,a{
        font-size: 16px;
    }



    .doct-sec2-heding{
        font-size: 25px;
        row-gap: 10px;
        padding: 15px;
    }

    .doct-sec2-heding h3{
        font-size: 25px;
    }

    .doct-sec2-heding div{
        font-size: 18px;
    }

    .doct-sec2-heding p{
        font-size: 16px;
        text-align: justify;
    }

}



@media only screen and (max-width:600px){
    .doct-sec-2-doctors div{
        width: 500px;
        height:550px;
        margin-bottom: 50px;
    }


    .doct-sec-2-doctors div img {
        width: 80%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .doct-sec-2-doctors div div h4{
        font-size: 18px;
    }

    .doct-sec-2-doctors div div p{
        font-size: 14px;
    }


    .doctor-section-1{
       height: 200px;
    }



}





@media only screen and (max-width:400px){
    .doct-sec-2-doctors div{
        width: 300px;
        height:380px;
        margin-bottom: 50px;
        padding: 0;
        margin-bottom: 20px;
    }


    .doct-sec-2-doctors div img {
        width: 80%;
        height: 60%;
       
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .doct-sec-2-doctors div div{
        padding: 10px 0px ;
    }


    .doct-sec-2-doctors div div h4{
        font-size: 16px;
    }

    .doct-sec-2-doctors div div p{
        font-size: 12px;
    }

    .doct-sec-2-doctors div div button{
        font-size: 10px;
    }

    .doctor-section-1{
        padding: 20px;
       
    }



    .doctor-section-1 h2{
        font-size: 25px;
        margin-left: 5px;
        padding: 0px;
    }

    .doctor-section-1 p,a{
        font-size: 14px;
    }



    .doct-sec2-heding{
        font-size: 25px;
        row-gap: 10px;
        padding: 15px;
    }

    .doct-sec2-heding h3{
        font-size: 20px;
    }

    .doct-sec2-heding div{
        font-size: 16px;
    }

    .doct-sec2-heding p{
        font-size: 14px;
        text-align: justify;
    }



}